# Задания

In [1]:
import pandas as pd

#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

## Задание 8.1
Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [17]:
ratings = pd.read_csv('data/ratings_movies.csv', sep=',')
#ratings.info()
ratings['date'] = pd.to_datetime(ratings['date'], dayfirst=True)
ratings['year_release'] = ratings['title'].apply(get_year_release)
#ratings[ratings['year_release'] is "nan"]
#ratings['year_release'].value_counts()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  datetime64[ns]
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 6.2+ MB

In [18]:
100836  - 100818

18

## Задание 8.2
Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [27]:
ratings_1999 = ratings[ratings['year_release'] == 1999.0]
ratings_1999.groupby(by="title")['rating'].agg(['mean', 'count']).sort_values(by='mean', ascending=False)

                                                  mean  count
title
George Carlin: You Are All Diseased (1999)         5.0      1
Mickey's Once Upon a Christmas (1999)              5.0      1
Trailer Park Boys (1999)                           5.0      1
Larry David: Curb Your Enthusiasm (1999)           5.0      1
On the Ropes (1999)                                5.0      1
...                                                ...    ...
Chill Factor (1999)                                1.0      1
Simon Sez (1999)                                   1.0      1
Trippin' (1999)                                    1.0      1
From Dusk Till Dawn 2: Texas Blood Money (1999)    1.0      1
Bloodsport: The Dark Kumite (1999)                 0.5      1

[261 rows x 2 columns]

## Задание 8.3
Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [32]:
ratings_2010 = ratings[ratings['year_release'] == 2010.0]
ratings_2010.groupby(by='genres')['rating'].agg(['mean', 'count']).sort_values(by='mean', ascending=False)

                                       mean  count
genres
Animation|Drama|Fantasy|Mystery    5.000000      1
Animation|Children|Mystery         5.000000      1
Adventure|Children|Comedy|Mystery  5.000000      1
Comedy|Musical                     5.000000      1
Sci-Fi                             4.750000      2
...                                     ...    ...
Adventure|Comedy|Fantasy           1.833333      6
Action|Adventure|Horror            1.500000      1
Action|Drama|Fantasy               1.500000      1
Crime|Romance                      1.500000      1
Action|Sci-Fi                      1.000000      1

[119 rows x 2 columns]

## Задание 8.4
Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [43]:
ratings.groupby(by='userId')['genres'].agg(['nunique']).sort_values(by='nunique', ascending=True)

        nunique
userId
214          13
85           13
245          13
494          15
578          15
...         ...
474         395
380         399
448         403
414         482
599         524

[610 rows x 1 columns]

## Задание 8.5
Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.
Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.

In [46]:
ratings.groupby(by='userId')['rating'].agg(['count', 'mean']).sort_values(by=['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

## Задание 8.6
Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [48]:
ratings_2018 = ratings[ratings['year_release'] ==  2018.0]

ratings_2018.groupby(by='genres')['rating'].agg(['mean', 'count']).sort_values(by=['mean', 'count'], ascending=[False, True])

                                            mean  count
genres
Adventure|Comedy|Fantasy                4.500000      1
Adventure|Thriller                      4.500000      1
Comedy|Fantasy|Sci-Fi                   4.500000      1
Comedy|Romance                          4.500000      1
Action|Comedy|Crime|Horror              4.000000      1
Action|Crime|Drama|Thriller             4.000000      1
Documentary                             4.000000      2
Action|Adventure|Sci-Fi                 3.928571     14
Action|Adventure|Children|Sci-Fi        3.900000      5
Action|Comedy|Sci-Fi                    3.875000     12
Adventure|Mystery|Sci-Fi|Thriller       3.833333      3
Action|Adventure|Thriller               3.750000      2
Action|Adventure|Comedy|Fantasy|Sci-Fi  3.666667      3
Action|Animation                        3.500000      1
Action|Mystery|Sci-Fi|Thriller          3.500000      1
Crime|Drama                             3.500000      1
Horror|Mystery|Thriller                 3.500000      1
Sci-Fi|Thriller                         3.500000      1
Animation|Comedy                        3.500000      5
Comedy                                  3.312500      8
Action|Adventure|Drama|Sci-Fi|Thriller  3.250000      2
Comedy|Drama                            3.250000      2
Action|Comedy                           3.000000      1
Adventure|Children|Fantasy|Sci-Fi       3.000000      1
Action|Adventure|Animation|Children     3.000000      4
Action|Fantasy|Sci-Fi                   2.750000      2
Drama|Horror|Thriller                   2.750000      4
Action|Crime|Thriller                   2.500000      1
Comedy|Crime|Drama                      2.500000      1
Action|Adventure|Fantasy                2.500000      4
Horror|Mystery|Sci-Fi|Thriller          2.250000      2
Drama|Fantasy|Thriller                  2.000000      1
Crime|Drama|Mystery|Thriller            1.500000      1

## Задание 8.7
Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [57]:
ratings['year_rating'] = ratings['date'].dt.year
pivot = ratings.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    fill_value=0
)

# melb_df.pivot_table(
#     values='Price',
#     index='Rooms',
#     columns='Type',
#     fill_value=0
# ).round()
pivot

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
year_rating,,,,,,,,,,,,,,,,,,,,,
1996,0.000000,2.730769,3.454545,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,2.666667,0.000000,3.838095,0.0,3.117647
1997,0.000000,3.538462,4.150000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,3.400000,0.000000,3.923077,0.0,3.000000
1998,0.000000,0.000000,4.200000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.800000,0.0,0.000000
1999,0.000000,0.000000,4.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,0.000000,0.000000,4.000000,0.000000,3.700000,4.5,4.000000
2000,0.000000,2.588235,3.738462,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,4.000,0.0,3.0,3.416667,0.000000,2.142857,0.000000,3.087912,3.0,4.058824
2001,0.000000,3.000000,3.500000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000,0.0,3.0,2.500000,0.000000,2.500000,0.000000,3.477273,3.0,3.111111
2002,0.000000,2.750000,4.304348,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.000,0.0,0.0,3.750000,0.000000,3.600000,0.000000,3.583333,3.5,3.000000
2003,0.000000,3.833333,3.277778,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,3.375,2.5,0.0,2.333333,0.000000,3.142857,0.000000,3.250000,3.0,4.000000
2004,0.000000,2.700000,4.136364,0.000,0.000000,4.000000,0.000000,0.000000,0.000000,0.0,...,3.000,3.0,3.5,2.125000,0.000000,0.000000,0.000000,3.464286,3.0,3.800000
2005,0.000000,3.357143,3.413043,0.000,0.000000,4.107143,0.000000,0.000000,0.000000,0.0,...,2.000,0.0,0.0,3.000000,0.000000,2.750000,0.000000,3.411765,0.0,4.500000
2006,0.000000,2.166667,4.090909,0.000,0.000000,3.833333,0.000000,0.000000,0.000000,3.0,...,0.000,0.0,0.0,0.500000,0.000000,4.500000,0.000000,3.735294,0.0,3.625000
2007,0.000000,2.583333,3.666667,0.000,0.000000,3.846154,3.000000,0.000000,0.000000,2.8,...,1.500,0.0,2.5,3.375000,0.000000,2.833333,0.000000,3.421875,0.0,3.000000
2008,0.000000,3.000000,3.656250,0.000,0.000000,4.125000,4.000000,0.000000,0.000000,3.5,...,0.000,0.0,0.0,3.125000,0.000000,3.000000,0.000000,3.333333,0.0,4.000000
2009,0.000000,0.000000,3.714286,0.000,0.000000,3.900000,0.000000,3.250000,0.000000,2.5,...,0.000,0.0,0.0,2.000000,0.000000,4.000000,0.000000,2.964286,4.0,3.375000
2010,0.000000,3.500000,3.437500,0.000,0.000000,4.333333,0.000000,3.500000,3.000000,0.0,...,0.000,0.0,0.0,4.000000,0.000000,2.500000,0.000000,2.833333,0.0,3.666667
2011,0.000000,4.500000,3.888889,0.000,0.000000,3.500000,0.000000,0.000000,0.000000,4.0,...,0.000,0.0,0.0,3.500000,0.000000,1.833333,4.000000,3.625000,0.0,4.000000
2012,0.000000,2.625000,3.900000,0.000,4.000000,3.785714,0.000000,3.550000,4.000000,0.0,...,2.500,0.0,0.0,4.166667,0.000000,3.500000,3.666667,3.083333,0.0,4.100000
2013,0.000000,2.500000,3.833333,0.000,3.000000,4.333333,0.000000,5.000000,0.000000,0.0,...,0.000,0.0,0.0,1.500000,0.000000,3.833333,4.000000,3.666667,0.0,4.000000
2014,0.000000,0.000000,3.875000,3.000,3.500000,3.250000,3.833333,3.500000,4.000000,0.0,...,0.000,0.0,0.0,2.500000,5.000000,0.000000,4.000000,4.000000,0.0,4.000000
2015,0.500000,3.100000,3.560976,3.800,3.666667,3.565217,3.833333,3.375000,2.333333,2.5,...,0.000,0.0,0.0,2.900000,4.071429,3.764706,4.000000,2.911765,0.0,3.900000
2016,3.500000,3.545455,3.722222,3.750,3.833333,3.925000,3.388889,3.666667,1.000000,4.0,...,2.500,0.0,0.0,3.555556,3.807692,3.916667,3.666667,3.432432,0.0,3.958333
2017,3.000000,2.637931,3.527778,3.375,3.500000,3.676471,3.700000,1.000000,1.000000,2.0,...,3.000,0.0,0.0,3.864865,4.264706,3.750000,2.500000,3.152174,0.0,2.933333
2018,3.676471,2.588235,3.397436,3.650,3.166667,3.741935,4.142857,3.700000,2.500000,4.0,...,0.000,0.0,0.0,3.128571,3.500000,3.562500,0.000000,3.296296,0.0,3.611111

In [78]:
# За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.
#pivot[pivot['Action|Adventure'] < 3.0]

pivot['Action|Adventure']
# вообще ни разу не получало

year_rating
1996    3.454545
1997    4.150000
1998    4.200000
1999    4.000000
2000    3.738462
2001    3.500000
2002    4.304348
2003    3.277778
2004    4.136364
2005    3.413043
2006    4.090909
2007    3.666667
2008    3.656250
2009    3.714286
2010    3.437500
2011    3.888889
2012    3.900000
2013    3.833333
2014    3.875000
2015    3.560976
2016    3.722222
2017    3.527778
2018    3.397436
Name: Action|Adventure, dtype: float64

In [61]:
# Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году.

pivot['Action|Adventure|Animation|Children|Comedy|IMAX'].sort_values(ascending=False)
# тоже не верно. наилучшую оценку получили в 2013

year_rating
2013    5.000000
2018    3.700000
2016    3.666667
2012    3.550000
2014    3.500000
2010    3.500000
2015    3.375000
2009    3.250000
2017    1.000000
2008    0.000000
2011    0.000000
1996    0.000000
1997    0.000000
2006    0.000000
2005    0.000000
2004    0.000000
2003    0.000000
2002    0.000000
2001    0.000000
2000    0.000000
1999    0.000000
1998    0.000000
2007    0.000000
Name: Action|Adventure|Animation|Children|Comedy|IMAX, dtype: float64

In [74]:
# Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.
pivot.index
pivot_2018 = pivot.loc[2018].sort_values(ascending=False)

pivot_2018['Animation|Children|Mystery']

5.0

In [76]:
# Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).

pivot['Comedy']

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

## Задание 8.8

In [84]:
orders = pd.read_csv('data/orders.csv', sep=';')
#orders
products = pd.read_csv('data/products.csv', sep=';')
products

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

In [85]:
orders

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

In [89]:
orders_products = orders.merge(
    products,
    how='left',
    left_on='ID товара',
    right_on='Product_ID' )

orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [91]:
orders_products['amount'] = orders_products['Price']*orders_products['Количество']

orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY,amount
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR,995.0
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR,4500.0
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR,2490.0
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR,1743.0
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR,1245.0
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR,995.0
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR,999.0
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR,50.0
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR,597.0
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR,747.0
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR,8999.0
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR,4999.0
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR,99.0
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR,2999.0
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR,7999.0
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR,45.0
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR,4999.0
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN,NaN

In [94]:
orders_products.groupby(by='ID Покупателя')['amount'].sum().sort_values(ascending=False)

ID Покупателя
7     17096.0
5     14042.0
9      7040.0
8      3087.0
1      2240.0
10      995.0
Name: amount, dtype: float64